body {
    font-family: "FreeSet", "helvetica";
    color: #00337f;


}

#firstbody {
    background-image: url(Bodyachtergrond-100.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #e6e6e9;

}

img {
    width: 3.5em;
    height: 1.5em;
    margin: auto;
}




button {
    width: 10em;
    background-color: #3476bb;
    color: white;
    padding: 10px 10px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    font-size: 0, 5em;
    border-bottom-style: solid;
    border-bottom-color: #00337f;
    transition: 0.5s;
}

button:hover {
    background-color: #00337f;


}



.aanmelden {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;


}

fieldset {
    background-color: #ffc61e;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: #C5C5CB;
    width: 90%;
    margin: auto;
    margin-top: 20em;
    margin-bottom: 5em;
}



.kopjes {

    font-size: 2em;
}


h2 {
    font-size: 2em;
}

article {
    background-color: white;
    padding: 1em;
    padding-bottom: 3em;
    border-bottom-style: solid;
    border-bottom-color: #C5C5CB;
    width: 20em;
    box-sizing: border-box;
    margin-bottom: 3em;
    margin: auto;
    margin-top: 2em;
}



.verhalen img {
    width: calc(100% + 2em);
    height: 8em;
    margin-top: -1em;
    margin-left: -1em;

}

a {
    color: #3476bb;
    text-decoration: none;
}

a:hover {
    color: #00337f;


}

span {
    display: flex;


}


h2 {
    font-size: 1em;
}

@media (min-width:40em) {
    section div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
}


@media (min-width:65em) {
    section div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
    }
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: #C5C5CB;
    margin-bottom: 100px;

}

nav ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}



nav ul li:first-child {
    justify-content: flex-start;
    margin-right: auto;
    padding: 0;

}
