body {
    font-family: "FreeSet", "helvetica";
    color: #00337f;
    background-color: #e6e6e9;



}

#firstbody {
    background-image: url(CSS/Bodyachtergrond-100.jpg);
    background-repeat: no-repeat;
    background-size: contain;


}

#secondbody {
    background-image: url(CSS/bodyachtergrond2.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}

legend {
    font-size: 3em;
    background-color:
}

.gif {
    margin-top: 1em;
    margin-left: -0.5em;
    width: 90em;
    height: 100em;
}

img {
    width: 3.5em;
    height: 1.5em;
    margin: auto;
}

button {
    width: 10em;
    background-color: #3476bb;
    color: white;
    padding: 10px 10px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    border-bottom-style: solid;
    border-bottom-color: #00337f;
    transition: 0.5s;
}

button:hover {
    background-color: #00337f;


}


.aanmelden {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;


}

.firstfieldset {
    border-style: none;
    width: 90%;
    margin: auto;
    margin-top: 20em;
    margin-bottom: 1em;
}


.secondfieldset {
    background-color: #ffc61e;
    border-style: none;
    width: 60%;
    margin: auto;
    margin-top: 5em;


}

form {
    background-color: #ffc61e;
    border-bottom-color: #C5C5CB;
    border-bottom-style: solid;
}

h2 {
    font-size: 2em;
}

article {
    background-color: white;
    padding: 1em;
    padding-bottom: 3em;
    border-bottom-style: solid;
    border-bottom-color: #C5C5CB;
    width: 20em;
    box-sizing: border-box;
    margin-bottom: 3em;
    margin: auto;
    margin-top: 2em;
}


.verhalen img {
    width: calc(100% + 2em);
    height: 8em;
    margin-top: -1em;
    margin-left: -1em;

}

.downloads img {
    width: calc(100% + 2em);
    height: 8em;
    margin-top: -1em;
    margin-left: -1em;

}

.downloads h2 {
    margin-top: 2.5em;
    font-size: 2em;
}

#hartje {
    height: 2.5em;
    width: 2.5em;
    margin-left: 16em;
    margin-bottom: -3em;

}

#hartje2 {
    height: 2.5em;
    width: 2.5em;
    margin-left: 16em;
    margin-bottom: -3em;

}

#hartje3 {
    height: 2.5em;
    width: 2.5em;
    margin-left: 16em;
    margin-bottom: -3em;

}

#hartje4 {
    height: 2.5em;
    width: 2.5em;
    margin-left: 16em;
    margin-bottom: -3em;

}

#hartje5 {
    height: 2.5em;
    width: 2.5em;
    margin-left: 16em;
    margin-bottom: -3em;

}

#hartje6 {
    height: 2.5em;
    width: 2.5em;
    margin-left: 16em;
    margin-bottom: -3em;

}

#hartje7 {
    height: 2.5em;
    width: 2.5em;
    margin-left: 16em;
    margin-bottom: -3em;

}

#hartje8 {
    height: 2.5em;
    width: 2.5em;
    margin-left: 16em;
    margin-bottom: -3em;

}

#hartje9 {
    height: 2.5em;
    width: 2.5em;
    margin-left: 16em;
    margin-bottom: -3em;

}

a {
    text-decoration: none;
    font-size: 0, 2em;
}



h2 {
    font-size: 1em;
}

@media (min-width:40em) {
    section div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
}


@media (min-width:65em) {
    section div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
    }
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: #C5C5CB;
    margin-bottom: 100px;

}

nav ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}



nav ul li:first-child {
    justify-content: flex-start;
    margin-right: auto;
    padding: 0;

}

input:invalid {
    border: 4px solid red;
}

.input1 {
    display: flex;
    flex-direction: column;
}

.input2 {
    display: flex;
    flex-direction: column;

}

.zoekknop{
    width: 10em;
    background-color: #3476bb;
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border-bottom-style: solid;
    border-bottom-color: #00337f;
    transition: 0.5s;
    margin: auto;
    display: flex;
    margin-top: 5em;
    
}
